body {
    background-color: black;
    color: white;
}

/*Desafio 2
body {
    background-color: indigo;
    color: white;
}
    

Desafio 3 - a
body {
    background-color: #f0f0f0;
}

h1 {
    color: #333333;

}
    

/*Desafio 3 - b
button {
    background-color: green;
    color: white;

}



/*Desafio 4 -b
header {
    background-color: lightblue;
    color: white;

}



/*Desafio 4 - c
p {

    color: darkgray;

}

/*Desafio 4 - d
footer {
    background-color: gray;
    color: white;

}

/*Desafio 5 - a
body {
    background-color: white;
    color: black;

}

/*Desafio 5 - b
body {
    background-color: yellow;
    color: blue;

}

/*Desafio 5 - c
body {
    background-color: black;
    color: white;
}

/*Desafio 6
a {
    color: DodgerBlue;
}
    
*/

